<div id="condition">
    <input type="text" id="query" placeholder="검색어를 입력해주세요.">
    전체도서수: <span id="count"></span>권
    <button id="insertBook" onclick="location.href='/books/insert'">도서등록</button>
</div>
<table id="books"></table>
<script id="temp" type="text/x-handlebars-template">
    <tr class="title">
        <td width="50">Code</td>
        <td width="100">Image</td>
        <td width="500">Title</td>
        <td width="100">Price</td>
        <td width="100">Number</td>
        <td width="100">Date</td>
    </tr>
    {{#each list}}
    <tr class="row">
        <td>{{code}}</td>
        <td><img src="/books/{{image}}" width="90" onclick="location.href='/books/update?code={{code}}'"></td>
        <td>{{title}}</td>
        <td>{{fprice}}</td>
        <td>{{qnt}}</td>
        <td>{{fdate}}</td>
    </tr>
    {{/each}}
</script>

<!-- 페이지 이동 -->
<div class="buttons">
    <button id="prev">이전</button>
    <span id="page">1/20</span>
    <button id="next">다음</button>
</div>

<script>
    var page = 1;
    var query = "";
    getBooks();

    function getBooks() {
        $.ajax({
            type: "get",
            url: "/list.json",
            dataType: "json",
            data: { page: page, query: query },
            success: function(data) {
                var temp=Handlebars.compile($("#temp").html());
                $("#books").html(temp(data));
                $("#count").html(data.count);
                var last = Math.ceil(data.count / 8);
                $("#page").html(page + "/" + last);

                if(page == 1) {
                    $("#prev").attr("disabled", true);
                } else {
                    $("#prev").attr("disabled", false);
                }
                
                if(page == last) {
                    $("#next").attr("disabled", true);
                } else {
                    $("#next").attr("disabled", false);
                }
            }
        })
    }

    // 검색어 상자에서 엔터
    $("#query").on("keydown", function(e) {
        if(e.keyCode == 13) {
            query = $("#query").val();
            getBooks();
        }
    })

    // 이전 버튼 클릭
    $("#prev").on("click", function() {
        page--;
        getBooks();
    })
    
    // 다음 버튼 클릭
    $("#next").on("click", function() {
        page++;
        getBooks();
    })
</script>