<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title>사용자등록</title>
    </head>
    <body>
        <h1>사용자등록</h1>
        <form name="frm" method="post">
            아이디: <input type="text" name="id">
            <hr>
            비밀번호: <input type="password" name="pass">
            <hr>
            이름: <input type="text" name="name">
            <hr>
            사진: <input type="file" name="image">
            <hr>
            <button type="submit">사용자등록</button>
            <button type="reset">등록취소</button>
        </form>
    </body>
    <script>
        $(frm).on("submit", function(e) {
            e.preventDefault();
            var id = $(frm.id).val();
            var pass = $(frm.pass).val();
            var name = $(frm.name).val();

            if(id == "" || pass == "" || name == "") {
                alert("모든 정보를 입력해주세요.");
                return;
            }

            $.ajax({
                type: "post",
                url: "/users/insert",
                data: { id: id, pass: pass, name: name },
                success: function(data) {
                    alert("등록되었습니다.");
                    location.href = "/users";
                }
            });
        });
    </script>
</html>